body{
    margin: 20px;
    background-color: black;
    color: white;
}

#profile-pic{
    margin-right: 70px;
    margin-left: auto;
    zoom: 130%;
    margin-top: -60px;
}

#project-card{
    background-color: rgba(255, 255, 255, 0.10);
    max-width: 400px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.44)
}

#projects-div{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

#my-name{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#headline{
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 200px;
    line-height: 100%;
}

.button{
    border: 1px solid white;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

#nav-buttons{
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
    justify-content: space-around;
}

#title{
    font-size: 100px;
}

#description{
    font-size: 50px;
}

#socials{
    display: flex;
    justify-content: center;
    margin-top: 130px; 
}

i{
    font-size: 30px;
    margin-inline: 50px;
}

.google-button{
    text-decoration: none;
    color: white;
    background-color: #4285F4	;
    padding: 15px;
    max-width: 280px;
    margin: auto;
    float: center;
    border: 1px solid rgba(255, 255, 255, 0.44);
}

.auth-button{
    border: 1px solid white;
    padding: 15px;
    text-decoration: none;
    color: white;
    background-color: black;
    min-width: 200px;
}

#google-icon{
    font-size:medium;
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.link{
    color: #666A6D;
    text-decoration: none;
}

#login-div{
    max-width: 500px;
    margin-top: 140px;
    background-color: rgba(255, 255, 255, 0.10);
    padding: 40px 40px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.44);
}

#contact-form{
    max-width: 500px;
    margin: auto;
}

#search-btn{
    font-size: larger;
    margin-top: 10px;
    margin-left: 10px;
}

#search-input{
    width: 200px;
}

#about-me-div{
    max-width: 70%;
    margin: auto; 
    text-align: center;
}

#logos-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    margin: 10px;
}

#signup-form{
    max-width: 550px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.10);
    padding: 40px 40px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.44);
}