#project-card{
    max-width: 400px;
    padding: 10px 3px;
}

body{
    margin: 20px;
    background-color: #D3D3D3;
    color: black;
}

#profile-pic{
    margin-right: 10px;
}

#projects-div{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

#my-name{
    text-decoration: none;
    color: black;
}

#headline{
    display: flex;
    flex-wrap: wrap-reverse;
}
