{% extends "base.html" %}

{% block title %}Contact Me{% endblock %}

{% block content %}

    {% if not message %}

      <div id="contact-form" class=" mx-auto">
        <h1 class="text-center" style="color: #00ffff;">Message Me</h1>
        <p class="text-center">If you would like to reach out, work or hire me please do so below</p> 
        <form method="post">
            {{form.as_p}}
            {% csrf_token %}
            <div class="text-center mt-5">
              <input type="submit" id="message-button" value="Send Message"/>
            </div>
        </form>
      </div>

    {% else %}
      <div id="message-sent">
        <h1 style="color: #00ffff; text-align: center; margin-top: 100px;">Message has been sent</h1>
        <p style="text-align: center; margin-bottom: 100px;">Thank you {{message.name}} your message has been well received. I will get back to you as soon as possible.</p>
      </div>
    {% endif %}

{% endblock %}