{% extends "base.html" %}
{% load static %}

{% block title %}Brian Osora{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        Welcome {{request.user.username}} to my portfolio!
    {% endif %}
    <p>I am a full stack devloper working with Django and React Developer</p>
    <img src="{% static 'images/portfolio.png' %}" alt="portfolio" height="400" width="400" style="object-fit:contain" id="profile-pic"/>
    <a href="{% url "message" %}">Work with me</a>
    <a href="{% url "projects" %}">My Projects</a>
    <a href="../../../media/brian osora isaboke CV.docx" download>Downlaod my Resume</a>

    {% if request.user.is_authenticated %}

        <h1>Techstack</h1>
        <form method="post" action={% url "logout" %}>
          <input type="submit" name="logout" id="logout" value="Log Out"/>
          {% csrf_token %}
        </form>
        <a href="{% url "password_change" %}">Change Password</a>
        <a href="{% url "profile" %}">Edit Profile</a>

    {% else %}

        <a href="{% url "login" %}">Log In</a>

    {% endif %}

{% endblock %}

