{% extends "base.html" %}

{% block title %}Profile Edited{% endblock %}

{% block content %}
    <div class="text-center mt-11">
        <h1 style="color: #00ffff;">Profile successfuly updated</h1>
        <p>Your profile has been updated successfully. You can go back
            <a href="{% url "home" %}" style="color: #00ffff">
                home
                <i class="fa-solid fa-arrow-up-right-from-square ms-1 fs-5" style="color: #00ffff;"></i>
            </a>
        </p>
    </div>
{% endblock %}