{% extends "base.html" %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block content %}

  <div id="login-div">
    <form method="post" id="login-form">

      <h1 style="text-align:center">Welcome Back!</h1>
      <p>Please log in to your account.</p>
      
      {{ form.as_p }}
      {% csrf_token %}

      <p>
        <a href="{% url "password_reset" %}" class="link">Forgot Password?</a>
      </p>

      <input type="submit" name="login" value="Log In" class="auth-button"/>
      <input type="hidden" name="next" value={{next}}/>

    </form>

    <p>or</p>

    <a href="{% url "social:begin" "google-oauth2" %}">
      <button id="google-button">
        Sign In with Google
        <i class="fa-brands fa-google" id="google-icon"></i>
      </button>
    </a>

    <p>Don't have an account? 
      <a href="{% url "user_registration" %}" class="link">Sign Up</a>
    </p>
  </div>

{% endblock %}