{% extends "base.html" %}

{% block title %}Password Reset Confirm{% endblock %}

{% block content %}

    {% if validlink %}

      <div id='reset-password-form' class="mx-auto">
        <h1 class="text-center mb-3">Reset Password</h1>
        <p class="text-center mb-5">Fill up this form to reset password</p>
        <form method="post">
            {{form.as_p}}
            {% csrf_token %}
            <div class="text-center mt-5">
                <input type="submit" value="reset" id="reset-password" class="auth-button"/>
            </div>
        </form>
      </div>

    {% else %}

      <div class="text-center" style="margin-top:150px">
        <h1>Link is Invalid</h1>
        <p>Your link is invalid please try again</p>
      </div>

    {% endif %}

{% endblock %}