{% load static %}
<!DOCTYPE html>

<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Brian Osora Isaboke Portfolio">
    <meta name="keywords" content="Brian, Osora, Isaboke">
    <meta name="author" content="Brian Osora Isaboke">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
</head>

<body>

    <nav>
      <h1>
        <a href="{% url "home" %}"  id="my-name">Brian Osora Isaboke</a>
      </h1>
      <div id="nav-buttons">
        {% if request.user.is_authenticated %}
          <form method="post" action={% url "logout" %}>
            <input type="submit" name="logout" id="logout" value="Log Out" class="button"/>
            {% csrf_token %}
          </form>
        {% else %}
          <a href="{% url "login" %}" class="button">Log In</a>
          <a href="{% url "user_registration" %}" class="button">Sign Up</a>
        {% endif %}
      </div>
      </nav>

    {% if messages %}
        {% for message in messages %}
          <ul>
            <l1>{{message}}</li>
          </ul>
        {% endfor %}
    {% endif %}
    
    {% block content %}
    {% endblock %}

</body>

</html>