{% extends "base.html" %}
{% load static %}

{% block title %}My Projects{% endblock %}

{% block content %}
    <link href="{% static 'css/projects.css' %}" />
    <h1 id="title">My Projects</h1>
    <form method="post" novalidate>
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="Search" id="search-button"/>
    </form>

    <div id="projects-div">
      {% for project in projects %}
        <div id="project-card">
          <h2>{{project.title}}</h2>
          <iframe src="{{project.url}}" title="{{project.title}}" height="400" width="400" style="border:none"></iframe>
          <p>{{project.description}}</p>
          <p>
              <strong>Status:</strong>  
              {% if project.status == 'CP' %}Completed{%else%}In Progress{% endif %}
          </p>
        </div>
      {% endfor %}
    </div>

{% endblock %}