{% extends "base.html" %}
{% load static %}

{% block title %}My Projects{% endblock %}

{% block content %}

    <link href="{% static 'css/projects.css' %}" />
    <h1 class="text-center">My Projects</h1>

    <form method="post" novalidate class="d-flex m-5 justify-content-end">
        {{form.as_p}}
        {% csrf_token %}
        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;" type="submit" id="search-btn"></i>
    </form>

    <div id="projects-div">
      {% for project in projects %}
        <div id="project-card">
          <h2 style="text-align:center">{{project.title}}</h2>
          <div style="text-align:center">
            <iframe src="{{project.url}}" title="{{project.title}}" height="350" width="350" style="border:none"></iframe>
          </div>
          <p>{{project.description}}</p>
          <p>
              <strong>Status:</strong>  
              {% if project.status == 'CP' %}Completed{%else%}In Progress{% endif %}
          </p>
        </div>
      {% endfor %}
    </div>

    <div class="mt-5 text-center">
      {% include "projects/includes/pagination.html" with page=projects %}
    </div>

{% endblock %}