{% extends "base.html" %}
{% load static %}

{% block title %}My Projects{% endblock %}

{% block content %}

    <link href="{% static 'css/projects.css' %}" />
    <h1 class="text-center">My Projects</h1>

    <form method="post" novalidate class="d-flex m-5 justify-content-end">
        {{form.as_p}}
        {% csrf_token %}
        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;" type="submit" id="search-btn"></i>
    </form>

    <div id="projects-div-outer">
    <div id="projects-div" > 
      {% for project in projects %}

        <div id="project-card" class="mb-3">
          <iframe src="{{project.url}}" title="{{project.title}}" height="400" style="border:none; width: 100%"></iframe>
          <div class="px-2">
            <h2 class="my-2">{{project.title}}</h2>
            <p>{{project.description}}</p>
            <div>
              <a href="{{project.url}}" style="color: white; text-decoration: none">
                Visit site
                <i class="fa-solid fa-arrow-up-right-from-square ms-1" style="color: #ffffff; font-size: 20px"></i>
              </a>
              <a href="{{project.github}}" style="color: white; text-decoration: none" class="mb-5">
                Github
                <i class="fa-brands fa-github" style="color: #ffffff; font-size: 20px; margin-left: 0px;"></i>
              </a>  
            </div>
            {% comment %} <div style="position: absolute; bottom: 0px">
                <strong>Status:</strong>  
                {% if project.status == 'CP' %}
                <span style="color: green">Completed</span>
                {%else%}
                <span style="color: red">In Progress</span>
                {% endif %}
            </div> {% endcomment %}
          </div>
        </div>
      {% endfor %}
    </div>
    </div>

    <div class="mt-5 text-center">
      {% include "projects/includes/pagination.html" with page=projects %}
    </div>

{% endblock %}