{% extends "base.html" %}
{% load static %}


{% block title %}About Brian{% endblock %}

{% block content %}
<div id="about-me-div">
    <h1 class="text-center">About Me</h1>
    <p class="fs-4">
        I'm a Junior Software Developer who loves turning ideas into real, working applications. 
        I specialize in React for building smooth, interactive user interfaces and Django for crafting powerful back-end solutions. 
        Whether it’s a sleek front-end or a solid full-stack app, I enjoy making things that not only work but feel great to use.
    </p>
</div>

<h1 class="text-center">TechStack</h1>
<div id="logos-div">
    <img src="{% static "images/html.webp" %}" alt="html" height="200" width="200" class="logo"/>
    <img src="{% static "images/css.webp" %}" alt="css" height="180" width="150" class="logo"/>
    <img src="{% static "images/js.webp" %}" alt="js" height="130" width="130" class="logo"/>
    <img src="{% static "images/react.webp" %}" alt="css" height="180" width="180" class="logo"/>
    <img src="{% static "images/python.webp" %}" alt="css" height="180" width="180" class="logo"/>
    <img src="{% static "images/django.webp" %}" alt="css" height="170" class="logo"/>
</div>

<div>
    <h1 class="text-center">Experience</h1>
    {% for experience in experiences %}
        <h2>{{position}}</h2>
    {% endfor %}
</div>


</div>
{% endblock %}