{% extends "base.html" %}

{% block title %}About Brian{% endblock %}

{% block content %}
<div id="about-me-div">
    <h1 class="text-center">About Me</h1>
    <p class="fs-4">
        I'm a Junior Software Developer who loves turning ideas into real, working applications. 
        I specialize in React for building smooth, interactive user interfaces and Django for crafting powerful back-end solutions. 
        Whether it’s a sleek front-end or a solid full-stack app, I enjoy making things that not only work but feel great to use.
    </p>
</div>

<div>
    <h1>TechStack</h1>
    <div>
        <img src={% static %}>
        <img src={% static %}>
        <img src={% static %}>
        <img src={% static %}>
        <img src={% static %}>
        <img src={% static %}>
    </div>
</div>


</div>
{% endblock %}